<div id="left"><%= render 'layouts/cit' %></div>
<div id="right"><%= render 'layouts/ping' %></div>
<center>
<a href="/vote/cit"><img src="assets/2.jpg" width="50"></a>
VS
<a href="vote/ping"><img src="assets/1.jpg" width="60"></a>
</center>